<div>
  <a routerLink="adicionar">Adicionar</a>
</div>
<table>
  <thead>
    <th>Id</th>
    <th>Nome</th>
    <th>Valor</th>
    <th>Mês</th>
    <th>Ano</th>
    <th>Data Cadastro</th>
    <th>Cartão</th>
    <th>Agrupamento</th>
    <th>Ação</th>
  </thead>
  <tbody>
    <tr *ngFor="let compraCartao of ComprasCartao">
      <td>{{ compraCartao.id }}</td>
      <td>{{ compraCartao.nome }}</td>
      <td>{{ compraCartao.valor }}</td>
      <td>{{ compraCartao.mes }}</td>
      <td>{{ compraCartao.ano }}</td>
      <td>{{ compraCartao.dataCadastro }}</td>
      <td>{{ compraCartao.cartao?.nome }}</td>
      <td>{{ compraCartao.agrupamento }}</td>
      <td>
        <button type="button" (click)="deletar(compraCartao.id!)">
          Deletar
        </button>
      </td>
    </tr>
  </tbody>
</table>
