<div>
  <a mat-raised-button routerLink="adicionar">Adicionar</a>
</div>

<table mat-table [dataSource]="cartoes" class="mat-elevation-z8">
  <tr mat-header-row *matHeaderRowDef="colunasVisiveis"></tr>
  <tr mat-row *matRowDef="let row; columns: colunasVisiveis"></tr>

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let cartao">{{ cartao.id }}</td>
  </ng-container>

  <ng-container matColumnDef="nome">
    <th mat-header-cell *matHeaderCellDef>Nome</th>
    <td mat-cell *matCellDef="let cartao">{{ cartao.nome }}</td>
  </ng-container>

  <ng-container matColumnDef="acao">
    <th mat-header-cell *matHeaderCellDef>Ação</th>
    <td mat-cell *matCellDef="let cartao">
      <button
        mat-raised-button
        color="warn"
        type="button"
        (click)="deletar(cartao.id!)"
      >
        Deletar
      </button>
    </td>
  </ng-container>
</table>
