<div>
  <a mat-raised-button routerLink="adicionar">Adicionar</a>
</div>
<table>
  <thead>
    <th>Id</th>
    <th>Despesa</th>
    <th>Valor</th>
    <th>Mês</th>
    <th>Ano</th>
    <th>Data Cadastro</th>
    <th>Ação</th>
  </thead>
  <tbody>
    <tr *ngFor="let despesaFixa of despesasFixa">
      <td>{{ despesaFixa.id }}</td>
      <td>{{ despesaFixa.despesa?.nome }}</td>
      <td>{{ despesaFixa.valor }}</td>
      <td>{{ despesaFixa.mes }}</td>
      <td>{{ despesaFixa.ano }}</td>
      <td>{{ despesaFixa.dataCadastro }}</td>
      <td>
        <button
          mat-raised-button
          color="warn"
          type="button"
          (click)="deletar(despesaFixa.id!)"
        >
          Deletar
        </button>
      </td>
    </tr>
  </tbody>
</table>
