<mat-toolbar color="primary">
  <a mat-flat-button color="primary" routerLink="/">Home</a>
  <a mat-flat-button color="primary" routerLink="/cartoes">Cartoes</a>
  <a mat-flat-button color="primary" routerLink="/compras-cartao">Comprar Cartão</a>
  <a mat-flat-button color="primary" routerLink="/despesas">Despesas</a>
  <a mat-flat-button color="primary" routerLink="/despesas-fixas">Despesas Fixas</a>
  <a mat-flat-button color="primary" routerLink="/recebimentos">Recebimentos</a>
  <a mat-flat-button color="primary" routerLink="/gastos">Gastos</a>
</mat-toolbar>
