<mat-toolbar>
  <a mat-raised-button routerLink="/despesas-fixas">Voltar</a>
</mat-toolbar>

<form [formGroup]="formulario" (submit)="salvar()">
  <mat-form-field appearance="outline">
    <mat-label>Valor</mat-label>
    <input matInput type="number" formControlName="valor" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Mês</mat-label>
    <input matInput type="number" formControlName="mes" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Ano</mat-label>
    <input matInput type="number" formControlName="ano" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Período</mat-label>
    <input matInput type="number" formControlName="periodo" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Despesa</mat-label>
    <mat-select formControlName="idDespesa">
      <mat-option *ngFor="let despesa of despesas" [value]="despesa.id">
        {{ despesa.nome }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div>
    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!this.formulario.valid"
    >
      Salvar
    </button>
  </div>
</form>
