<h1 mat-dialog-title>Adicionar Compra Cartão</h1>

<form [formGroup]="formulario" (submit)="salvar()">
  <mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput type="text" formControlName="nome" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Valor</mat-label>
      <input matInput type="number" formControlName="valor" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Mês</mat-label>
      <input matInput type="number" formControlName="mes" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Ano</mat-label>
      <input matInput type="number" formControlName="ano" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Parcelas</mat-label>
      <input matInput type="number" formControlName="parcelas" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Cartão</mat-label>
      <mat-select formControlName="idCartao">
        <mat-option *ngFor="let cartao of cartoes" [value]="cartao.id">
          {{ cartao.nome }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-dialog-content>

  <mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>Cancelar</button>
    <button
      mat-raised-button
      cdkFocusInitial
      [mat-dialog-close]="true"
      color="primary"
      type="submit"
      [disabled]="!this.formulario.valid"
    >
      Salvar
    </button>
  </mat-dialog-actions>
</form>
