inicio

<table>
  <thead>
    <tr>
      <th>Descricao</th>
      <ng-container *ngFor="let gasto of gastos">
        <th *ngFor="let mes of gasto.meses">{{ gasto.ano }} / {{ mes.mes }}</th>
      </ng-container>
    </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let gasto of gastos">
      <ng-container *ngFor="let mes of gasto.meses">
        <tr>
          <ng-container
            *ngFor="let recebimento of mes.recebimentos; index as i"
          >
            <ng-container *ngIf="i === 0">
              <td>{{ recebimento.nome }}</td>
            </ng-container>

            <td>{{ recebimento.valor }}</td>
          </ng-container>
        </tr>
      </ng-container>
    </ng-container>
  </tbody>
</table>
fim
